name: Reply To Flaired Posts

# on:
#   schedule:
#     - cron: '30 */6 * * *'

jobs:
  reply:
    name: Reply to flaired posts
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: github-actions
    - name: Decrypt config.json
      run: ./.github/scripts/decrypt.sh
      env:
        PASSPHRASE: ${{ secrets.PASSPHRASE }}
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Run stat_reply.py
      run: python scripts/stat_reply.py
    - name: Push updated data JSON
      run: |
        git pull
        git add ./json/reply-data.json
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git commit --allow-empty -m "Update reply data"
        git push